@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para los input del formulario de ordenes */
input{
    border-radius: 5px;
    border: 1px solid lightgrey;
}

select#cliente {
    border-color: lightgrey;
    border-radius: 5px;
}

.no-input{
    background-color: transparent; 
    border: 0px; 
    width:100%;
}

.quantity_product{
    display: inline
}

.container.align-right {
    text-align: right;
}

select#id_list_price {
    margin: 10px 0px 0px 110px;
    width: 75%;
}

select#id_agent {
    margin: 10px 0px 0px 55px;
    width: 80%;
}

select#type_pay {
    margin: 10px 0px 0px 155px;
    width: 65%;
}

.required{
    color: red;
}

.cod_product{
    background-color: transparent; 
    border: 0px; 
    width:30px;
}


/* Estilos para el area de carga de archivo Boton import */
#destinyzone{
    height: 300px;
    border: 5px dashed #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/**** FIN ****/

/* Estilo para la lista de precios Hidden - visible */
.no-input_list{
    background-color: transparent; 
    border: 0px; 
    width:100%;
    margin-top: 1.1em;
}

table.table thead th{
    text-align:center;
}

td {
    text-align-last: center;
}

td.description_product {
    text-align-last: initial;
}

.no-view{
    color: transparent;
    border: 0px;
}

/* Quitar fechas en los input number */

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;

} */