{% extends "home.html" %}

{% block title %}- Non Trovato {%  endblock %}

{% block content %}
<section id="not-found">
    <div class="container">
        
    
        <div class="row">
            <div class="col-6 d-flex">
                <div id="content-not-found" class="justify-content-center align-self-center mx-auto my-5">
                    <h1>Questa pagina non essite</h1>
                    <p>{{error}}</p>
                    <a href="/" class="btn btn-primary btn-lg">
                        Torna alla home &nbsp;
                        <i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="col-lg-4 d-flex">
                    <div id="content-not-found" class="justify-content-center align-self-center mx-auto my-5">
                        <img src="{{ url_for('static', filename='images/4042.png') }}" alt="Non Disponibile">
                    </div>
                </div>
            </div>
        </div>
     
            
    </div>
    
</section>
{% endblock%}
