{% extends "home.html" %} {% block title %} Aggiungi Prodotto {% endblock %} {% block content %}

<main id="main">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content-center align-self-center mx-auto my-5">
                    <div class="card">
                        <div class="card-header">
                            <h2>Nuovo prodotto N. {{n_product}}</h2>
                        </div>
                        <div class="card-body">
                            <form action="/add/product/" method="post" enctype="multipart/form-data" class="px-5">
                                <input class="no-view" name="id_product" type="number" value="{{n_product}}">
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="code" class="form-control" id="codeinput" required autofocus>
                                        <label for="codeinput">Codice Prodotto <span class="required">*</span></label>
                                    </div>

                                    <div class="col">
                                        <input type="text" name="name" class="form-control" id="nameinput" required>
                                        <label for="nameinput">Nome <span class="required">*</span></label>
                                    </div>

                                    <div class="col">
                                        <input type="number" name="cod_bar" class="form-control" id="cod_barinput">
                                        <label for="cod_barinput">Codice EAN</label>
                                    </div>
                                </div>

                                <div class="md-form row">

                                    <div class="col">
                                        <input type="number" name="stock" class="form-control" id="stockinput" required>
                                        <label for="stockinput">Giocenza <span class="required">*</span></label>
                                    </div>

                                    <div class="col">
                                        <input type="number" name="value" class="form-control" id="valueinput" step="any" required>
                                        <label for="valueinput">Prezzo <span class="required">*</span></label>
                                    </div>

                                    <div class="col">
                                        <select name="id_iva" class="browser-default custom-select" id="id_iva">
                                            {% for cod in iva %}
                                            <option value="{{cod.0}}">{{cod.2}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="value1" class="form-control" id="valueinput1" step="any" >
                                        <label for="valueinput1">Prezzo listino 1</label>
                                    </div>

                                    <div class="col">
                                        <input type="number" name="value2" class="form-control" id="valueinput2" step="any" >
                                        <label for="valueinput2">Prezzo listino 2</label>
                                    </div>

                                    <div class="col">
                                        <input type="number" name="value3" class="form-control" id="valueinput3" step="any" >
                                        <label for="valueinput3">Prezzo listino 3</label>
                                    </div>
                                </div>

                                <div class="md-form">
                                    <div class="col-12 my-3"><br>
                                        <label for="image">Carica l'immagine <span class="required">*</span></label>
                                    </div>
                                    <div>
                                        <input type="file" name="image" class="form-control" id="image" placeholder="Carica Immagine del prodotto" required>
                                    </div>
                                </div>

                                <div class="md-form">
                                    <div class="col-12 my-3"><br>
                                        <label for="category">Seleziona la categoria <span class="required">*</span></label>
                                    </div>
                                    <div>
                                        <select name="category" class="browser-default custom-select" id="categoryinput" require>
                                        {% for i in categories %}
                                        <option value="{{i.0}}">{{i.1}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="md-form col-16 mx-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-primary btn-block">
                                                Aggiungi &nbsp;<i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <a href="/" class="btn btn-danger btn-block">
                                            Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" id="uploadfile" class="btn btn-green btn-block" data-toggle="modal" data-target="#modalForm">
                                                Importa .CSV&nbsp;<i class="fas fa-upload"></i>
                                              </button>
                                            
                                              
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- TARJETA DE PRODUCTOS -->
<section id="product">
    <div class="container-fluid">
        <div class="row">
            {% for product in data %}
            <!-- data viene del contoller -->
            <div class="col-3">
                <div id="content-product" class="justify-content-center align-self-center mx-auto my-3">
                    <div class="card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{product.11}}" alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body brown white-text rounded-bottom">

                            <!-- Title -->
                            <p class="card-title">CODICE: {{product.1}}</p>
                            <p class="card-title">Categoria: &nbsp; 
                                {% if product.10 == 1 %} 
                                    PRODOTTO FINITO A MARCHIO</p>
                                {% elif product.10 == 2 %} 
                                    LINEA CONVENZIONALE</p>
                                {% elif product.10 == 3 %} 
                                    LINEA BIOLOGICA</p>
                            {% endif %}
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">
                                <p>Nome: {{product.2}}</p>
                                <p>Stock: {{product.3}}</h6>
                                    <p>Prezzo Pieno: {{product.4}}</p>
                                    <p>Prezzo Listino 1: {{product.5}}</p>
                                    <p>Prezzo Listino 2: {{product.6}}</p>
                                    <p>Prezzo Listino 3: {{product.7}}</p>
                                </p>
                                <!-- Link -->
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <form action="/delete/product/{{product.0}}" method="post">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                    <a href="/update/product/{{product.0}}" type="button" class="btn btn-warning"><i class="fas fa-pen"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-12 d-flex">
                <div id="content-product" class="justify-content-center align-self-center mx-auto my-3 text-center">
                    <h2>Non ci sono Prodotti</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}