{% extends "home.html" %} {% block content %}
<main id="main">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 d-flex">
                <div id="content-main" class="justify-content-center align-self-center mx-auto my-5">
                    <div class="card">
                        <div class="card-header text-center" style="background-color:#795548; color: #fff;">
                            <h2>Crea nuova categoria</h2>
                        </div>
                        <div class="card-body">
                            <form action="/create/categorie" method="POST">
                                <div class="md-form row">
                                    <div class="col">
                                        <label for="id">Codice<span class="required">*</span></label>
                                        <input class="form-control" type="number" name="id" disabled value={{ncategories}}>
                                    </div>
                                    <div class="col">
                                        <label for="name">Nome <span class="required">*</span></label>
                                        <input class="form-control" type="text" name="name" required>
                                    </div>
                                </div>
                        </div>

                        <textarea class="col-10 mx-auto my-2" name="description" placeholder="Descrizione"></textarea>

                        <div class="md-form mx-5">

                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary btn-block">
                                            Aggiungi &nbsp;<i class="fas fa-pen"></i>
                                        </button>
                                </div>
                                <div class="col-6">
                                    <a href="/" class="btn btn-danger btn-block">
                                        Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>

            </div>
            <div id="content-main" class="justify-content-center align-self-center mx-auto my-5">
                <div class="card">
                    <div class="card-header text-center" style="background-color:#795548; color: #fff;">
                        <h2>Elenco categorie</h2>
                    </div>
                    <div class="col mx-auto my-5">
                        {% for i in list_categories %}
                        <p>{{i.0}}.- {{i.1}}</p>
                        {%endfor%}
                    </div>
                </div>
            </div>


        </div>

    </div>



</main>
{% endblock %}