{% extends "home.html" %} {% block title %} Home {% endblock %} {% block content %}
<main id="main">
    <div class="container text-center my-5">
        <h1>Anagrafica nuovo cliente</h1>
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto my-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="/addcustomer" method="POST" class="px-5">
                                <div class="col" style="background-color: #795548 ; color: #fff;">
                                    <hr>Dati dell'azienda
                                    <hr>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="id_registro" class="form-control" id="id_registro" disabled>
                                        <label for="id_registro">ID</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="name_company" class="form-control" id="name_company" required autofocus>
                                        <label for="name_company">Nome Azienda <span class="required">*</span></label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="cod_fiscale" class="form-control" id="cod_fiscale" required maxlength="16">
                                        <label for="cod_fiscale">Codice Fiscale <span class="required">*</span></label>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="p_iva" class="form-control" id="p_iva">
                                        <label for="p_iva">Partita Iva</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="address" class="form-control" id="address" required>
                                        <label for="address">Indirizzo <span class="required">*</span></label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="cap" class="form-control" id="cap" required>
                                        <label for="cap">CAP <span class="required">*</span></label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="city" class="form-control" id="city" required>
                                        <label for="city">Città <span class="required">*</span></label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="province" class="form-control" id="province" required>
                                        <label for="province">Provincia <span class="required">*</span></label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="region" class="form-control" id="region">
                                        <label for="region">Regione</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="country" class="form-control" id="country">
                                        <label for="country">Paese</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="sdi" class="form-control" id="sdi">
                                        <label for="sdi">SDI</label>
                                    </div>
                                </div>
                                <div class="col" style="background-color: #795548 ; color: #fff;">
                                    <hr>Dati del referente
                                    <hr>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="name_ref" class="form-control" id="name_ref">
                                        <label for="name_ref">Nome Referente</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="phone" class="form-control" id="phone">
                                        <label for="phone">Telefono</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="cell" class="form-control" id="cell">
                                        <label for="cell">Celullare</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="fax" class="form-control" id="fax">
                                        <label for="fax">Fax</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="email" name="email" class="form-control" id="email">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="col">
                                        <input type="email" name="email_pec" class="form-control" id="email_pec">
                                        <label for="email_pec">Email Pec</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="discount" class="form-control" id="discount">
                                        <label for="discount">Sconto</label>
                                    </div>
                                    <div class="col">
                                        <label for="id_list_pice">Tipo di Prezzo <span class="required">*</span></label>

                                        <select name="id_list_price" id="id_list_price">
                                            {%for id_list in list_price %}
                                                <option value="{{id_list.0}}">{{id_list.1}}</option>
                                            {%endfor%}
                                        </select>

                                    </div>

                                </div>

                                <div class="md-form row">
                                    <div class="col">
                                        <label for="id_agent">Agente <span class="required">*</span></label>
                                        <select name="id_agent" id="id_agent">
                                            {%for id_agent in utente%}
                                            <option value="{{id_agent.0}}">{{id_agent.1}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="type_pay">Tipo di Pagamento <span class="required">*</span></label>
                                        <select name="type_pay" id="type_pay">
                                            {% for id_pay in types_pay %}
                                            <option value="{{id_pay.0}}">{{id_pay.1}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="iban_banck" class="form-control" id="iban_banck">
                                        <label for="iban_banck">IBAN</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="nome_bank" class="form-control" id="nome_bank">
                                        <label for="nome_bank">Nome della Banca</label>
                                    </div>
                                </div>

                                <div class="md-form mx-5">

                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-primary btn-block">
                                                Aggiungi &nbsp;<i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <a href="/" class="btn btn-danger btn-block">
                                            Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" id="uploadfile" class="btn btn-green btn-block" data-toggle="modal" data-target="#modalFormCustomers">
                                                Importa .CSV&nbsp;<i class="fas fa-upload"></i>
                                              </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}