{% extends "home.html" %} {% block title %} Home {% endblock %} {% block content %}

<main id="main">
    <div class="container text-center my-5">
    
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto my-5">
                    <div class="card" style="width: 30rem;">
                        <div class="card-header text-justify">
                            <h2>Esporta Ordine</h2>
                        </div>
                        <div class="card-body">
                            <form action="/export" method="POST" class="px-5">
                                <div class="md-form row">

                                    <div class="col">
                                        <label for="initdate">Data Iniziale</label><br>
                                        <input class="form-control" type="date" name="initdate" max="2050-01-01" onfocus="this.max=new Date().toISOString().split('T')[0]" autofocus required>
                                    </div>
                                
                                </div>
                                
                                <div class="md-form row">
                                
                                    <div class="col">
                                        <label for="enddate">Data Finale</label><br>
                                        <input class="form-control" type="date" name="enddate" max="2050-01-01" onfocus="this.max=new Date().toISOString().split('T')[0]" required>
                                    </div>
                                
                                </div>
                                <div class="md-form">
                           
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary btn-block">
                                                Invia &nbsp;<i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <a href="/" class="btn btn-danger btn-block">
                                            Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}