{% extends "home.html" %} {% block title %} Home {% endblock %} {% block content %}

<main id="main">
    <div class="container text-center my-5">
        <h1>Pannello Amministratore</h1>
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto my-5">

                    <div class="row flex-center">
                        <div class="card col-lg-2 m-2">
                            <a href="/addcustomer">
                                <img src="../../static/images/Nuovo_cliente.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Aggiungi Cliente</h5>
                            </a>
                            <a href="/addcustomer" class="btn btn-primary">Aggiungi</a>
                            </div>
                        </div>

                        <div class="card col-lg-2 m-2">
                            <a href="/create/categorie">
                                <img src="../../static/images/crea_categoria.png" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Crea Categoria</h5>
                            </a>
                            <a href="/create/categorie" class="btn btn-primary" data-target="#modalForm">Crea</a>
                            </div>
                        </div>
                        <div class="card col-lg-2 m-2">
                            <a href="/add/product"><img src="../../static/images/Crea_prodotto.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Crea Prodotto</h5>
                            </a>
                            <a href="/add/product" class="btn btn-primary">Crea</a>
                            </div>
                        </div>
                        <div class="card col-lg-2 m-2">
                            <a href="/register">
                                <img src="../../static/images/Crea_agente.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Aggiungi Agente</h5>
                            </a>
                            <a href="/register" class="btn btn-primary">Aggiungi</a>
                            </div>
                        </div>
                        <div class="card col-lg-2 m-2">
                            <a href="/add/order"><img src="../../static/images/fai_ordine.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Crea <br>Ordine</h5>
                            </a>
                            <a href="/add/order" class="btn btn-primary">Crea</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SEGUNDA LINEA-->
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto">
                    <div class="row flex-center">
                        <div class="card col-lg-2 m-2">
                            <a href="/addcustomer">
                                <img src="../../static/images/import_customers.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Importa Cliente</h5>
                            </a>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalFormCustomers">Importa</a>
                            </div>
                        </div>

                        <div class="card col-lg-2 m-2">
                            <a href="/add/product"><img src="../../static/images/import_product.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Importa Prodotto</h5>
                            </a>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">Importa</a>
                            </div>
                        </div>

                        <div class="card col-lg-2 m-2">
                            <a href="/add/product"><img src="../../static/images/exporta_ordine.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Esporta Ordine</h5>
                            </a>
                            <a href="/export" class="btn btn-primary">Importa</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}