{% extends "home.html" %} {% block title %} Home {% endblock %} {% block content %}

<main id="main">
    <div class="container text-center my-5">
        <h1>Login</h1>
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto my-5">
                    <div class="card" style="width: 30rem;">
                        <div class="card-header text-justify">
                            <h2>Accedi</h2>
                        </div>
                        <div class="card-body">
                            <form action="/" method="POST" class="px-5">
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="nickname" class="form-control" id="nickname" required autofocus>
                                        <label for="nickname">Nome utente</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="password" name="password" class="form-control" id="password" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <button class="btn btn-primary btn-block">
                                        Accedi <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}