{% extends "home.html" %} {% block title %} Home {% endblock %} {% block content %}
<main id="main">


    <!-- Formulario de seleccion de cliente -->
    <div class="container">
        <div class="container-xxl mx-5">
            <div class="col">
                <form action="/add/order" method="post">

                    <div class="container align-right">
                        <div class="col-12 g-0">
                            <div id="content-main" class="my-5">
                                <label for="id_ordine">N. ORDINE</label>
                                <input type="number" name="id_ordine" id="id_ordine" value={{n_all_order}} disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col my-2" style="text-align: justify;">
                        <!-- inicio del formulario para datos del cliente y agente -->
                        
                        <label for="date">Data:</label>
                        <input class="col-lg-5 text" name="datePicker" id="datePicker" value="{{timeactual}}" disabled>
                        
                        <label for="agente">Agente:</label>
                        <input type="text" name="agente" id="agente" style="background-color: #fff; width: 15px;" value="1" disabled> -
                        
                        <input class="col-lg-5" type="text" name="agente_name" id="agente_name" style="background-color: #fff;" value="{{user_actual}}" disabled>
                        
                    </div>       
                    <div class="col" style="text-align: justify;">
                        <label for="cliente">Cliente:</label>
                        <select class="col-11" name="cliente" id="cliente" onchange="infoCustomer(this.value)">
                            <option value="Selecciona una opcion">Seleziona un cliente</option>
                            
                            {% for i in cliente%}
                            {% if utente_id == i.19 %}
                                <option value="{{i.0}};{{i.4}};{{i.11}};{{i.12}};{{i.15}};{{i.17}};{{i.18}}">{{i.3}}</option>
                                
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    </div>
                    <div class="md-form row">
                        <div class="col">
                            <label for="id_cliente">Codice Cliente:</label>
                            <input type="text" name="id_cliente" id="id_cliente" class="form-control" placeholder="&nbsp" value="" disabled required>
                        </div>
                        <div class="col">
                            <label for="nome">Nome del Contatto:</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="&nbsp" value="">
                        </div>
                        <div class="col">
                            <label for="address">Indirizzo:</label>
                            <input type="text" name="address" id="address" class="form-control" placeholder="&nbsp">
                        </div>
                    </div>
                    <div class="md-form row">
                        <div class="col">
                            <label for="phone">Telefono:</label>
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="&nbsp">
                        </div>
                        <div class="col">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="&nbsp">
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- Carga de Productos en Pantalla  -->
            <div class="col-sm-12 mx-15">
                <div id="content-product" class="justify-content-center align-self-center mx-5 ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Codice</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Prezzo</th>
                                <th scope="col">Prezzo Scontato</th>
                                <th scope="col">Extra Sconto %</th>
                                <th scope="col">Quantità</th>
                                <th scope="col">Prezzo Totale</th>
                                <th scope="col">IVA %</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set cnt = [1] %} 
                            {% for product in data %}
                            <tr>
                                <!-- codigo producto -->
                                <th scope="row" style="text-align-last: center;">
                                    <input id="cod_product_{{cnt[0]}}" class="cod_product" name="cod_product_{{cnt[0]}}" type="text" value="{{cnt[0]}}" disabled>
                                </th>
                                <!-- imagen del producto -->
                                <td scope="row" width="10%">
                                    <img src="{{product.11}}" width="60%" alt="">
                                </td>
                                <!-- descripcion del producto -->
                                <td class="description_product" width="30%">
                                    <input class="no-input" id="desc_product_{{cnt[0]}}" name="desc_product_{{cnt[0]}}" type="text" value="{{product.2}}" disabled>
                                </td>
                                <!-- precio del producto -->
                                <td> <input id="price_qta_{{product.0}}" class="no-input" type="text" name="price_qta_{{product.0}}" value="{{product.4}}" disabled> </td>
                                
                                <!-- descuento destinado al cliente-->
                                <td id= "list0_{{product.0}}" width="10%" style="display:table-row;"> <input class="no-input_list" type="text" id="price_discont_qta_{{product.0}}" name="price_discont_qta_{{product.0}}" value="{{product.4}}" disabled></td>
                                
                                <td id= "list1_{{product.0}}" width="10%" style="display:none;"> <input class="no-input_list" type="text" id="price_discont1_qta_{{product.0}}" name="price_discont_qta_{{product.0}}" value="{{product.5}}" disabled></td>
                                
                                <td id= "list2_{{product.0}}" width="10%" style="display:none;"> <input class="no-input_list" type="text" id="price_discont2_qta_{{product.0}}" name="price_discont_qta_{{product.0}}" value="{{product.6}}" disabled ></td>
                                
                                <td id= "list3_{{product.0}}" width="10%" style="display:none;"> <input class="no-input_list" type="text" id="price_discont3_qta_{{product.0}}" name="price_discont_qta_{{product.0}}" value="{{product.7}}" disabled></td>
                                
                                
                                
                                <!-- Descuento Extra que viene de la tabla de cliente -->
                                <td width="10%"> <input class="no-input" type="text" id="extra_discont_qta_{{product.0}}" name="extra_discont_qta_{{product.0}}" value="0" disabled></td>
                                <!-- cantidad requerida -->
                                <td>
                                    <input id="qta_{{product.0}}" type="number" placeholder="0" name="qta_{{product.0}}" onchange="total_product(this.id, this.value);" min="0" onkeypress="nextFocus(this.id)"></input>
                                </td>
                                <td>
                                    <input id="sptotal_qta_{{product.0}}" class="no-input" placeholder="0.00" name="sptotal_qta_{{product.0}}" value="0.00" disabled>
                                </td>
                                {% if product.8 == 1 %}
                                <td width="5%"> 
                                    <input class="no-input" type="text" id="iva{{product.0}}" name="iva_{{product.0}}" value="10" disabled>
                                    <input style="color: transparent;" class="no-input" type="text" id="iva_monto_{{product.0}}" name="iva_monto_{{product.0}}" value="0" disabled>
                                </td>
                                {% else %}
                                <td width="5%"> 
                                    <input class="no-input" type="text" id="iva{{product.0}}" name="iva_{{product.0}}" value="22" disabled>
                                    <input style="color: transparent" class="no-input" type="text" id="iva_monto_{{product.0}}" name="iva_monto_{{product.0}}" value="0" disabled>
                                </td>
                                {%endif%}
                                <!-- Descuento Extra que viene de la tabla de cliente -->
                                <!-- calculo entre precio y cantidad -->
                                
                            </tr>
                            {% if cnt.append(cnt.pop() + 1) %}{% endif %} {% endfor %}
                            <h4 class="quantity_product" style="color:transparent">Totale Produtti:
                                <h3 id="quantity_product" class="quantity_product" style="color:transparent"> {{cnt[0]}}</h3>
                            </h4>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-right">
        <div class="col col-lg-8">
            <p>Totale imponibile:</p>
        </div>
        <div class="col col-2">
            <input id="sub_total_order" class="form-control" type="text" name="sub_total_order" value="0" disabled>
        </div>
    </div>

    <div class="row text-right">
        <div class="col col-lg-8">
            <p>Totale IVA:</p>
        </div>
        <div class="col col-2">
            <input id="total_iva" class="form-control" type="text" name="total_iva" value="0" disabled>
        </div>
    </div>
    
    <div class="row text-right">
        <div class="col col-lg-8">
            <p>Totale Ordine:</p>
        </div>
        <div class="col col-2">
            <input id="t_order" class="form-control text-right" type="text" name="t_order" value="0" disabled>
        </div>
    </div>

    <div class="container ">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Nota:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note"></textarea>
        </div>
    </div>

    <div class="container">
        <div class="d-grid col-lg-4 mx-auto">
            <button class="btn badge-success" type="submit" onclick="funcEnabled()">Ordina</button>
        </div>
    </div>
    <!-- fin del formulario -->
    </form>
</main>
{% endblock %}