{% extends "home.html" %}

{% block title %} Home {% endblock %}
 {% block content %} 
<main id="main">
    <div class="container text-center my-5">
        <h1>Nuovo agente</h1>
        <div class="row g-0">
            <div class="col-lg-12 d-flex">
                <div id="content-main" class="justify-content center align-self-center mx-auto my-5">
                    <div class="card" style="width: 30rem;">
                        
                        <div class="card-body">
                            <form action="/register" method="POST" class="px-5">
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="nickname_registro" class="form-control" id="nickname_registro" required autofocus>
                                        <label for="nickname">Nome utente</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="password" name="password_registro" class="form-control" id="password_registro" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="text" name="email_registro" class="form-control" id="email_registro" required>
                                        <label for="email_registro">Email</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="commission" class="form-control" id="commission" required>
                                        <label for="commission">Percentuale di Commissione</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <select name="type_access" class="form-control" id="type_access" required>
                                        {% for i in type_access %}
                                            <option value="{{i.0}}">{{i.1}}</option>
                                        {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="md-form">
                           
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary btn-block">
                                                Aggiungi &nbsp;<i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <a href="/" class="btn btn-danger btn-block">
                                            Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}