{% extends "home.html" %} {% block content %}

<section class="edit-product">
    <div class="container">
        <row class="g-0">
            <div class="col-lg-12">
                <div id="content-edit-product" class="justify-content center align-self-center mx-auto my-5">
                    <div class="card">
                        <div class="card-header">
                            <h2>Modifica prodotto</h2>
                        </div>
                        <div class="card-body">
                            <form action="/update/product/{{product.0}}" method="post" class="px-5" enctype="multipart/form-data">
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="code" value="{{product.1}}" class="form-control" id="codeinput" required autofocus>
                                        <label for="codeinput">Codice Prodotto</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="name" value="{{product.2}}" class="form-control" id="nameinput" required>
                                        <label for="nameinput">Nome</label>
                                    </div>
                                </div>
                                <div class="md-form row">
                                    <div class="col">
                                        <input type="number" name="stock" value="{{product.3}}" class="form-control" id="stockinput" required>
                                        <label for="stockinput">Stock</label>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="value" value="{{product.4}}" class="form-control" id="valueinput" required>
                                        <label for="valueinput">Prezzo</label>
                                    </div>
                                </div>

                                <div class="md-form">
                                    <div class="col-12 my-3"><br>
                                        <label for="image">Carica l'immagine <span class="required">*</span></label>
                                    </div>
                                    <div>
                                        <input type="file" name="image" class="form-control" id="image" placeholder="Carica Immagine del prodotto" >
                                    </div>
                                </div>

                                <div class="md-form">
                                    <select name="category" class="browser-default custom-select" id="categoryinput">
                                        <option selected value="{{product.5}}">Seleziona Categoria</option>
                                        {% for i in categories %}
                                        <option value="{{i.0}}">{{i.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="md-form">
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary btn-block">
                                            Modifica &nbsp;<i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <a href="http://localhost:4000/add/product/" class="btn btn-danger btn-block">
                                            Ritorna &nbsp;<i class="fas fa-arrow-alt-circle-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </row>
    </div>
</section>

{% endblock %}