<!-- Ver documentacion en Flask message Flashing -->
{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            
            {% for message in success %}
                <strong><i class="fas fa-check-circle"></i> Fatto</strong>
                {{message}}
            {% endfor %}
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
    {% endif %}

{% endwith %}


{% with error = get_flashed_messages(category_filter=["error"]) %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            
            {% for message in error %}
                <strong><i class="fas fa-times-circle"></i> Impossibile</strong>
                </i>{{message}}
            {% endfor %}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
    {% endif %}

{% endwith %}
