 {% block content %}


<nav class="mb-1 navbar navbar-expand-lg navbar-dark brown lighten-0 sticky-top scrolling-navbar">
    <a class="navbar-brand font" href="/">
        <img src="../../static/images/logo-w.png" width="250px" ; height="85px">Copia Commissione agente Online</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
                <p class="text-white"><i class="fas fa-user"></i> {{user_actual}}</p>
                <a class="nav-link p-0" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>


<!-- ventana modal IMPORT PRODUCTS-->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Carica i tuoi prodotti</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- Formulario de Categoria -->
                <form action="/upload-products" method="post" enctype="multipart/form-data">
                    
                    <div class="md-form mb-3">
                        <section id="destinyzone" class="col text-center fa-border p-lg-5">
                            <h3>Trascina qui il tuo file</h3>
                            <span>oppure</span>
                            <!-- <button type="file" class="btn btn-brown">Carica il file</button> -->
                            <!-- <input class="btn btn-brown" type="file" id="input-file" name="input-files" required> -->

                            <div class="fileUpload btn btn-brown">
                                <span>Carica File</span>
                                <input type="file" class="upload" id="file_csv" name="file_csv" />
                            </div>
                        </section>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-default btn-brown">
                            Importare
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- ventana modal IMPORT CLIENTS-->
<div class="modal fade" id="modalFormCustomers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Carica i tuoi cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- Formulario de Categoria -->
                <form action="/upload-customers" method="post" enctype="multipart/form-data">
                    
                    <div class="md-form mb-3">
                        <section id="destinyzone" class="col text-center fa-border p-lg-5">
                            <h3>Trascina qui il tuo file</h3>
                            <span>oppure</span>
                            
                            <div class="fileUpload btn btn-brown">
                                <span>Carica File</span>
                                <input type="file" class="upload" id="file_csv" name="file_csv" />
                            </div>
                        </section>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-default btn-brown">
                            Importare
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}