<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://mdbootstrap.com/docs/b4/jquery/getting-started/cdn/https://mdbootstrap.com/docs/b4/jquery/getting-started/cdn/ -->
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Styles Css -->
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Carga del archivo javascript para las ordenes -->
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <!-- Carga del archivo javascript Drag & Drop -->
    <script type="text/javascript" src="{{url_for('static', filename='js/drop.js')}}"></script>
    

    <title>Shop - 
        {% block title %}
            <!-- TITLE CONTENT -->
        {% endblock %}
    </title>
</head>

<body>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    
    {% include "partials/navbar.html" %} 
    {% include "partials/message.html" %}
    <!--Block para que sea la estructura base de la pagina con Jinja-->
    {% block content %} 
    
    {% endblock %}
</body>

</html>